
{% extends 'index.html' %}


{% block content  %}

    <h2 class = "my-5">New workers register</h2>
    <form action="/workers/new" method="POST">
        <div class="mb-3">
            <input type="text" class ="form-control" id="firstname" placeholder="Worker firstname" name="firstname" required>
        </div>

        <div class="mb-3">
            <input type="text" class ="form-control" id="lastname" placeholder="Worker lastname" name="lastname" required>
        </div>

        <div class="mb-3">
            <input type="date" class ="form-control" id="date" placeholder="Registri date" name="date" required>
        </div>

        <button type="submit" class="btn btn-dark">Save</button>


    </form>

{% endblock content  %}
